extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    .main-wrapper.main-wrapper--about
        .breadcrumbs
            .container
                .breadcrumbs__inner
                    a(href="#").breadcrumbs__item Главная
                    a(href="#").breadcrumbs__item Покупателям
                    .breadcrumbs__item О компании
        .container
            .main-wrapper__inner.main-wrapper__inner--single-page
                aside.sidebar
                    include ../components/sidebar-navblock
                    include ../components/sidebar-textblock
                    include ../components/sidebar-banner
                main.main-content.main-content--single-page.main-content--about
                    .typography
                        h1.common-title-h1 Заголовок H1.  Заголовок должен быть длинным, чтобы был верно выстроен интерлиньяж
                        .lead Лид. Первый абзац текста/статьи, информативный отрывок, позволяющий захватить внимание читателя на материале.
                        p .Текст блока. В основном тексте блока должны быть верно определены: кегель, межбуквенные и межстрочные интервалы, абзацы, подобран читабельный шрифт. Это блоки, в которых будет содержаться основной информационный посыл блока, следовательно, он должен быть максимально комфортен для чтения.
                        h2.common-title-h2 Заголовок H2. Многострочный заголовок, длина которого иногда бывает так не кстати. Заголовок H2. Многострочный заголовок, длина которого иногда бывает так не кстати. Заголовок H2. Многострочный заголовок, длина которого иногда бывает так не кстати.
                        .float-img.float-img--right
                            +picture('about1', 'png', '462', '272')
                        p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                        p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                        .mb-30
                            +picture('about2', 'png', '100%', 'auto')
                        h3.common-title-h3.mb-25 Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                        .h-box.h-scroll.mb-25
                            .item
                                +picture('about3', 'png', '285', '220')
                            .item
                                +picture('about3', 'png', '285', '220')
                            .item
                                +picture('about3', 'png', '285', '220')
                        ul.common-ul
                            li
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                                p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                            li
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                                p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                            li
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                                p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                        ol.common-ol
                            li
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                                p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                            li
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                                p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                            li
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                                p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                        .text-small Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом
                        .hr.hr--dark
                        .important
                            .subtitle Важная информация!
                            p Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом. И открылись царю слова «И это тоже пройдет». Удивление от того, что никогда он не замечал этой строчки ранее, охладило Соломона. Больше срывов с ним не случалось долгие годы, но, наконец, пришла пора ему уходить в мир иной. Он сидел и рассматривал свое кольцо, с которым, казалось, никогда не расставался. Соломон знал каждую щербинку на нем.
                        .row.h-scroll
                            .col-3.item
                                .mb-20
                                    +picture('about3', 'png', '285', '220')
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью
                                p Фотографию, обтекаемую текстом Фотографию, текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстом
                            .col-3.item
                                .mb-20
                                    +picture('about3', 'png', '285', '220')
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью
                                p Фотографию, обтекаемую текстом Фотографию, текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстом
                            .col-3.item
                                .mb-20
                                    +picture('about3', 'png', '285', '220')
                                .subtitle Фотографию поменьше, примерно на 70% ширины сайта с подписью
                                p Фотографию, обтекаемую текстом Фотографию, текстом Фотографию, обтекаемую текстом Фотографию, обтекаемую текстом
                        .wrapper-bg
                            .container.container--sm
                                form
                                    .auth-box
                                        h1.common-title-h1.title-center Регистрация
                                        .auth-box__text-sm Регистрация даст вам доступ к скидкам и бонусной программе
                                        +form-group-no-lb(false, 'form-group--custom-text', 'text', 'custom-input-text lowercase', 'register-name', 'register-name', '', true, '', 'Имя')
                                        +form-group-no-lb(false, 'form-group--custom-text', 'text', 'custom-input-text lowercase', 'register-surname', 'register-surname', '', true, '', 'Фамилия')
                                        +form-group-no-lb(false, 'form-group--custom-text', 'text', 'custom-input-text lowercase', 'register-second-name', 'register-second-name', '', true, '', 'Отчество')
                                        +form-group-no-lb(false, 'form-group--custom-text', 'tel', 'custom-input-text lowercase', 'register-phone', 'register-phone', '', true, '', 'Номер телефона*')
                                        +form-group-no-lb(false, 'form-group--custom-text', 'email', 'custom-input-text lowercase', 'register-mail', 'register-mail', '', true, '', 'E-mail*')
                                        +form-group-no-lb(false, 'form-group--custom-text', 'password', 'custom-input-text lowercase', 'register-pass', 'register-pass', '', true, '', 'Пароль*')
                                        +form-group(false, 'form-group--checkbox js-checkbox form-group--checkbox-inline-flex', 'checkbox', 'custom-checkbox', 'form-group-checkbox', 'register-checkbox', 'Подписаться на новости', false, 'custom-checkbox__label')
                                        .form-agreement-text Нажимая на кнопку, я соглашаюсь на #[a(href="#") обработку моих персональных данных] и ознакомлен(а) с условиями #[a(href="#") политики конфиденциальности]
                                        button(type="submit").auth-box__btn.common-btn
                                            span Регистрация
                                            +pictureSVGAdaptive('/svg/common-btn', '237', '78')
                        table.common-table
                            thead
                                tr
                                    th Таблица
                                    th Таблица
                                    th Таблица
                                    th Таблица
                            tbody
                                tr
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td
                                    td
                                    td
                                    td
                        .pagination
                            .pagination__inner
                                .pagination__item.pagination__prev.pagination__item--disabled
                                    +icon('arrow')
                                a(href="#").pagination__item 1
                                a(href="#").pagination__item 2
                                a(href="#").pagination__item.pagination__item--current 3
                                .pagination__dots ....
                                a(href="#").pagination__item 10
                                a(href="#").pagination__item.pagination__next
                                    +icon('arrow')
                        .faq
                            .faq__item
                                .faq__q.js-slide-down Как увеличить скидку?
                                    +icon('plus')
                                .faq__a.js-slide-down-wrapper Вы можете оплатить до 50% стоимости заказа. Чтобы воспользоваться бонусами введите количество бонусных баллов, которое хотите применить, в поле "Применить бонусные баллы" при оформлении заказа.
                            .faq__item
                                .faq__q.js-slide-down Как можно потратить бонусы и оплатить ими покупку?
                                    +icon('plus')
                                .faq__a.js-slide-down-wrapper Вы можете оплатить до 50% стоимости заказа. Чтобы воспользоваться бонусами введите количество бонусных баллов, которое хотите применить, в поле "Применить бонусные баллы" при оформлении заказа.

block footer
    include ../components/footer








