extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    .main-wrapper.main-wrapper--career
        .breadcrumbs
            .container
                .breadcrumbs__inner
                    a(href="#").breadcrumbs__item Главная
                    a(href="#").breadcrumbs__item Покупателям
                    .breadcrumbs__item Карьера
        .container
            .main-wrapper__inner.main-wrapper__inner--single-page
                aside.sidebar
                    include ../components/sidebar-navblock
                    include ../components/sidebar-textblock
                    include ../components/sidebar-banner
                main.main-content.main-content--single-page.main-content--career
                    .typography
                        h1.common-title-h1.title-left Карьера у нас
                        p Если Вы хотите работать в команде профессионалов, иметь возможность расти по карьерной лестнице и дарить людям радость - мы те, кто Вам нужен!
                    .vacancies
                        .vacancies__item
                            .vacancies__title.subtitle.opened.js-slide-down Менеджер по работе с клиентами
                            .vacancies__body.opened.js-slide-down-wrapper
                                .subtitle Продавец-консультант в магзин
                                p.common-p
                                    | <b>Доход:</b>  от 25 000 до 50 000 руб. до вычета налогов<br>
                                    | <b>Требуемый опыт работы:</b> 1–3 года<br>
                                    | Полная занятость, полный день<br>
                                .subtitle Ваши обязанности:
                                ul.common-ul.common-ul--style2
                                    li
                                        p Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                                .subtitle Наши требования:
                                ul.common-ul.common-ul--style2
                                    li Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                                .subtitle Наши условия:
                                ul.common-ul.common-ul--style2
                                    li Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                        .vacancies__item
                            .vacancies__title.subtitle.js-slide-down Менеджер по работе с клиентами
                            .vacancies__body.js-slide-down-wrapper
                                .subtitle Продавец-консультант в магзин
                                p.common-p
                                    | <b>Доход:</b>  от 25 000 до 50 000 руб. до вычета налогов<br>
                                    | <b>Требуемый опыт работы:</b> 1–3 года<br>
                                    | Полная занятость, полный день<br>
                                .subtitle Ваши обязанности:
                                ul.common-ul.common-ul--style2
                                    li
                                        p Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                                .subtitle Наши требования:
                                ul.common-ul.common-ul--style2
                                    li Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                                .subtitle Наши условия:
                                ul.common-ul.common-ul--style2
                                    li Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                        .vacancies__item
                            .vacancies__title.subtitle.js-slide-down Менеджер по работе с клиентами
                            .vacancies__body.js-slide-down-wrapper
                                .subtitle Продавец-консультант в магзин
                                p.common-p
                                    | <b>Доход:</b>  от 25 000 до 50 000 руб. до вычета налогов<br>
                                    | <b>Требуемый опыт работы:</b> 1–3 года<br>
                                    | Полная занятость, полный день<br>
                                .subtitle Ваши обязанности:
                                ul.common-ul.common-ul--style2
                                    li
                                        p Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                                .subtitle Наши требования:
                                ul.common-ul.common-ul--style2
                                    li Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                                .subtitle Наши условия:
                                ul.common-ul.common-ul--style2
                                    li Оказывать экспертное консультирование Клиентов по продукту Компании;

                                    li Оказывать Клиенту помощь при выборе украшений, а также примерке;
                                    li Работать в программе 1С, проводить инвентаризацию;

                                    li Соблюдать все Стандарты, принятые в компании;

                                    li Относиться к коллективу и к компании лояльно и уважительно

                                    li Аккуратно и бережно относиться к продукту Компании и поддерживать рабочее место в чистоте;
                    .wrapper-bg
                        .container.container--sm
                            form
                                .auth-box.auth-box--style2
                                    h1.common-title-h1.title-center Оставить заявку
                                    +form-group-no-lb(false, 'form-group--custom-text', 'text', 'custom-input-text lowercase', 'career-name', 'career-name', '', true, '', 'Имя')
                                    +form-group-no-lb(false, 'form-group--custom-text', 'text', 'custom-input-text lowercase', 'career-surname', 'career-surname', '', true, '', 'Фамилия')
                                    +form-group-no-lb(false, 'form-group--custom-text', 'text', 'custom-input-text lowercase', 'career-second-name', 'career-second-name', '', true, '', 'Отчество')
                                    +form-group-no-lb(false, 'form-group--custom-text', 'tel', 'custom-input-text lowercase', 'career-phone', 'career-phone', '', true, '', 'Номер телефона*')
                                    +form-group-no-lb(false, 'form-group--custom-text', 'email', 'custom-input-text lowercase', 'career-mail', 'career-mail', '', true, '', 'E-mail*')
                                    .form-group.form-group--select
                                        .custom-select.js-custom-select.js-open-popup
                                            span.custom-select__value Выберите позицию
                                            .custom-select-options.js-popup
                                                .custom-select-option Завхоз
                                                .custom-select-option Археолог
                                                .custom-select-option Епископ
                                                .custom-select-option Бариста
                                                .custom-select-option Археолог
                                                .custom-select-option Логист
                                                .custom-select-option Окулист
                                            select#career-job
                                                option Завхоз
                                                option Археолог
                                                option Епископ
                                                option Бариста
                                                option Археолог
                                                option Логист
                                                option Окулист
                                        .error-message Это поле обязательно для заполнения
                                    .form-group.form-group--file
                                        label(for="resume-file") Прикрепите файл с резюме
                                        input(type="file" name="resume-file" id="resume-file")
                                    .form-agreement-text Нажимая на кнопку, я соглашаюсь на #[a(href="#") обработку моих персональных данных] и ознакомлен(а) с условиями #[a(href="#") политики конфиденциальности]
                                    button(type="submit").auth-box__btn.common-btn
                                        span Отправить
                                        +pictureSVGAdaptive('/svg/common-btn', '237', '78')
                    .vacancies__subtitle По вопросам трудоустройства звоните по номеру: #[a(href="tel:+79614947566") +7 961 494 75 66]
                    p.common-p Наша компания постоянно растет и развивается. Если у Вас есть желание работать в нашей компании, но в актуальных вакансиях не нашли информации, отправьте нам свое резюмеи мы обязательно свяжемся с вами когда у нас возобновится набор





block footer
    include ../components/footer








