extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    .main-wrapper.main-wrapper--bg
        .container.container--sm
            form
                .auth-box
                    h1.common-title-h1 Восстановить пароль
                    .auth-box__text-sm Введите e-mail, указанный вами при регистрации. На него мы вышлем ссылку для восстановления пароля
                    +form-group-no-lb(false, 'form-group--custom-text', 'email', 'custom-input-text lowercase', 'login-mail', 'login-mail', '', true, '', 'E-mail*')
                    .auth-box__text-sm Или попробуйте #[a(href="#") восстановить по номеру телефона]
                    button(type="submit").auth-box__btn.common-btn
                        span Отправить
                        +pictureSVGAdaptive('/svg/common-btn', '237', '78')
block footer
    include ../components/footer
