extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    .main-wrapper.main-wrapper--bg
        .container.container--sm
            form
                .auth-box
                    h1.common-title-h1 Введите код
                    .auth-box__text-sm.submit-error Истек срок действия кода
                    div(class=`form-group form-group--custom-text`)
                        input(class='custom-input-text lowercase code' type='text' name='login-code' id='login-code' placeholder='- - - -' maxlength=4)
                        .error-message Это поле обязательно для заполнения
                    button(type="submit").auth-box__btn.common-btn
                        span Готово
                        +pictureSVGAdaptive('/svg/common-btn', '237', '78')
block footer
    include ../components/footer
