.modal.modal--map#modal-map
    .modal__inner.modal__inner--desktop.modal__inner--bg
        .modal-bg
            +picture('modal-bg', 'png', '100%', '100%')
        .modal__close-cross.js-close-modal
            +icon('close')
        .modal__box
            .shops.js-shops(data-json="data/shops-map.json")
                .shops__left
                    form
                        .shops__list

                .shops__right
                    .shops__map-container.map-container#modal-map-container(data-json="data/shops-map.json")


