.modal.modal--mobile-filters#modal-mobile-filters
    .modal__close-cross.js-close-modal
        +icon('close')
    .modal__inner.modal__inner--mobile
        .mobile-filters
            .mobile-filters__items
                .mobile-filters__item
                    .mobile-filters__title.js-filter-dropdown Тип изделия
                    .mobile-filters__dropdown.mobile-filters__dropdown--type.js-filter-dropdown-box

                .mobile-filters__item
                    .mobile-filters__title.js-filter-dropdown Материал
                    .mobile-filters__dropdown.mobile-filters__dropdown--material.js-filter-dropdown-box

                .mobile-filters__item
                    .mobile-filters__title.js-filter-dropdown Цвет
                    .mobile-filters__dropdown.mobile-filters__dropdown--color.js-filter-dropdown-box

                .mobile-filters__item
                    .mobile-filters__title.js-filter-dropdown Цена
                    .mobile-filters__dropdown.mobile-filters__dropdown--price.js-filter-dropdown-box

            .mobile-filters__chosen-filters
            .mobile-filters__bottom
                .mobile-filters__bottom-item.mobile-filters__clear.js-clear-filter Очистить фильтр
                .mobile-filters__bottom-item.mobile-filters__apply.js-close-modal Применить
