.modal.modal--mobile-search#modal-mobile-search
    .modal__close-cross.js-close-modal
        +icon('close')
    .modal__inner.modal__inner--mobile
        .modal__search-wrapper
            input.modal__search-input.js-easy-autocomplete-modal(type="search" placeholder="Поиск")
            .modal__control-icon
                +icon('search')
