footer.footer
    .container
        .footer__inner
            .footer__top
                .footer__col
                    .footer__title.footer__title--dropdown.js-footer-dropdown Покупателям
                    nav.footer__nav.footer__nav--mobile-folded
                        a(href="#").footer__nav-item О компании
                        a(href="#").footer__nav-item Карьера у нас
                        a(href="#").footer__nav-item Техники изготовления
                        a(href="#").footer__nav-item Бонусная программа
                        a(href="#").footer__nav-item Подарочные сертификаты
                    .footer__title.footer__title--dropdown.js-footer-dropdown Мой кабинет
                    nav.footer__nav.footer__nav--mobile-folded
                        a(href="#").footer__nav-item.footer__nav-item--login  Войти
                .footer__col
                    .footer__title.footer__title--dropdown.js-footer-dropdown Обратная связь
                    nav.footer__nav.footer__nav--mobile-folded
                        a(href="#").footer__nav-item Адреса магазинов
                        a(href="#").footer__nav-item Вопросы/ответы
                        a(href="#").footer__nav-item Отзывы
                        a(href="#").footer__nav-item Доставка
                        a(href="#").footer__nav-item Оплата
                        a(href="#").footer__nav-item Обмен/возврат
                        a(href="#").footer__nav-item Гарантии
                    .footer__title.footer__title--dropdown.js-footer-dropdown Рекомендуем
                    nav.footer__nav.footer__nav--mobile-folded
                       a(href="#").footer__nav-item Блог
                .footer__col.footer__col--mobile-flex
                    .footer__col-box
                        .footer__title Задайте ваш вопрос
                        nav.footer__nav
                            a(href="#").footer__nav-item.footer__nav-item--icon
                                +icon('phone')
                                | WhatsApp
                            a(href="#").footer__nav-item.footer__nav-item--icon
                                +icon('mail')
                                | Электронная почта
                            a(href="#").footer__nav-item.footer__nav-item--icon
                                +icon('telegram')
                                | Telegram
                    .footer__col-box
                        .footer__title По телефону
                        nav.footer__nav
                            a(href="#").footer__nav-item.footer__nav-item--icon
                                +icon('phone')
                                | 8 800 800 800
                            a(href="#").footer__nav-item.footer__nav-item--icon
                                +icon('point')
                                | Адреса магазинов
                .footer__col.footer__col--mobile-flex
                    .footer__col-box
                        .footer__title Мы в соцсетях
                        .footer__socials
                            a(href="#").footer__social-item
                                +icon('instagram')
                            a(href="#").footer__social-item
                                +icon('vk')
                            a(href="#").footer__social-item
                                +icon('telegram')
                    .footer__col-box.footer__col-box--payments
                        .footer__title Принимаем к оплате
                        +picture('footer-payments', 'png', '200', '32')
            .footer__bottom
                .footer__copyright © EGO BOTTEGO, 2021. Все права защищены. Информация, размещённая на данной странице, не является публичной офертой
                .footer__developers Разработка сайта — #[a(href="#") WEBELEMENT]
