.mobile-menu
    .mobile-menu__close-cross.js-close-mobile-menu
        +icon('close')
    .mobile-menu__top
        .mobile-menu__back.js-mob-back Назад
    .mobile-menu__middle
        nav.mobile-menu__nav-middle
            .mobile-menu__nav-middle-item.js-open-dropdown
                .mobile-menu__nav-cat.mobile-menu__nav-middle-item-cat Муранское стекло
                .mobile-menu__nav-dropdown
                    .mobile-menu__nav-cat Муранское стекло
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown По типу изделия
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown Материал
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
            .mobile-menu__nav-middle-item.js-open-dropdown
                .mobile-menu__nav-cat.mobile-menu__nav-middle-item-cat Майорский жемчуг
                .mobile-menu__nav-dropdown
                    .mobile-menu__nav-cat Муранское стекло
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown По типу изделия
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown Материал
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
            .mobile-menu__nav-middle-item.js-open-dropdown
                .mobile-menu__nav-cat.mobile-menu__nav-middle-item-cat Украшения из керамики
                .mobile-menu__nav-dropdown
                    .mobile-menu__nav-cat Муранское стекло
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown По типу изделия
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown Материал
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
            .mobile-menu__nav-middle-item.js-open-dropdown
                .mobile-menu__nav-cat.mobile-menu__nav-middle-item-cat Оригинальная оптика
                .mobile-menu__nav-dropdown
                    .mobile-menu__nav-cat Муранское стекло
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown По типу изделия
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
                    .mobile-menu__nav-filter
                        .mobile-menu__nav-filter-type.js-filter-dropdown Материал
                        .mobile-menu__nav-filter-dropdown.js-filter-dropdown-box
                            .mobile-menu__nav-filter-subcat Браслеты
                            .mobile-menu__nav-filter-subcat Кольца
                            .mobile-menu__nav-filter-subcat Серьги
                            .mobile-menu__nav-filter-subcat Колье
                            .mobile-menu__nav-filter-subcat Часы
                            .mobile-menu__nav-filter-subcat Подвески
                            .mobile-menu__nav-filter-subcat Аксессуары
    .mobile-menu__bottom
        nav.mobile-menu__nav-bottom
            a(href="#").mobile-menu__nav-bottom-item О компании
            a(href="#").mobile-menu__nav-bottom-item Карьера у нас
            a(href="#").mobile-menu__nav-bottom-item Техники изготовления
            a(href="#").mobile-menu__nav-bottom-item Бонусная программа
            a(href="#").mobile-menu__nav-bottom-item Подарочные сертификаты
            a(href="#").mobile-menu__nav-bottom-item Адреса магазинов
            a(href="#").mobile-menu__nav-bottom-item Вопросы/ответы
            a(href="#").mobile-menu__nav-bottom-item Отзывы
            a(href="#").mobile-menu__nav-bottom-item Доставка
            a(href="#").mobile-menu__nav-bottom-item Оплата
            a(href="#").mobile-menu__nav-bottom-item Обмен/возврат
            a(href="#").mobile-menu__nav-bottom-item Гарантии
            a(href="#").mobile-menu__nav-bottom-item Блог
