.sidebar-navblock
    .sidebar-navblock__bg
        +picture('sidebar-bg', 'png', '270px', '100%')
    .sidebar-navblock__box
        a(href="#").sidebar-navblock__navitem.current
            span О компании
        a(href="#").sidebar-navblock__navitem
            span Карьера у нас
        a(href="#").sidebar-navblock__navitem
            span Техники изготовления
        a(href="#").sidebar-navblock__navitem
            span Бонусная программа
        a(href="#").sidebar-navblock__navitem
            span Подарочные сертификаты
        a(href="#").sidebar-navblock__navitem
            span FAQ
        a(href="#").sidebar-navblock__navitem
            span Отзывы
        a(href="#").sidebar-navblock__navitem
            span Доставка
        a(href="#").sidebar-navblock__navitem
            span Оплата
        a(href="#").sidebar-navblock__navitem
            span Обмен и возврат
        a(href="#").sidebar-navblock__navitem
            span Гарантии

