.sidebar-banner
    .sidebar-navblock__bg
        +picture('sidebar-banner', 'png', '270px', '100%')
    .sidebar__box
        .sidebar-banner__title Фотографию поменьше, примерно
        .sidebar-banner__text Фотографию, обтекаемую текстом Фотографию,
        .common-btn-wrapper
            a(href="#").sidebar-btn.common-btn
                span Перейти
                +pictureSVGAdaptive('svg/common-btn', '160', '78')

