.sidebar-textblock
    .sidebar-navblock__bg
        +picture('sidebar-bg', 'png', '270px', '100%')
    .sidebar__box Фотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом Фотографию, обтекаемую текстомФотографию, обтекаемую текстом

